/* General style rules */

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 75%;
    margin: 0 auto;
    background-color: #eeeeeeb1;
    min-height: 400px;
}

nav {
    background-color: #bbb;
    padding: 1em 2em;
}

nav ul{
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

nav ul li,
nav ul li a,
nav ul li span {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: .8rem;
}

nav ul li a:hover {
    color: #ddd;
    transition: all .3s ease-out;
}

.title-container {
    padding: 1em 0;
}

.title-o {
    font-size: 2.3rem;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.6rem;
}

.new-entity-link {
    padding: .5em 1em;
    border-radius: 5px;
    right: 2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: rgb(20, 180, 243);
}

.new-entity-link:hover {
    transition: all .3s ease-out;
    background-color: rgb(123, 209, 244);
}

.new-entity-link:active {
    transition: all .3s ease-out;
    background-color: rgb(11, 135, 184);
}

/* Footer styles */

footer {
    background-color: #bbb;
    color: #fff;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.footer-links-container ul {
    list-style: none;
    text-align: center;
}

.footer-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    color: #fff;
}

.footer-link:hover,
.footer-company-name:hover,
.copyright:hover {
    color: #ccc;
    transition: all .3s ease-out;
}

.footer-company-name {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1em 0;
}

/* Posts index styles */

.posts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    max-width: 375px;
    margin-bottom: 3em;
    border-radius: 10px;
}

.post-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.post-title {
    margin-top: 1em;
    padding: 0.5em 0 .5em 0;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    font-size: 1.3rem;
    background-color: #eee;
    color: #000;
    width: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.post-image-container {
   display: flex;
   justify-content: center;
}

.post-image-container img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: center;
}

.post-author {
    display: flex;
    justify-content: space-between;
    width: 350px;
    padding: 1em;
    box-sizing: border-box;
    color: #666;
    font-style: italic;
    background-color: #eee;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.comment-text {
    padding: 0 1em 1em 1em;
    text-align: justify;
}

.comment-text p {
    color: #000;
}

.comment-info {
    padding-bottom: 0.5em;
    color: #444;
}

.comment-info:hover {
    color: #777;
    transition: all .3s ease-out;
}

/* Posts show styles */

.posts-show-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    max-width: 700px;
    margin-bottom: 3em;
    border-radius: 10px;
    overflow: hidden;
}

.post-show-image-container {
    display: flex;
    justify-content: center;
 }
 
 .post-show-image-container img {
     width: 700px;
     height: 350px;
     object-fit: cover;
     object-position: center;
 }

 .post-show-author {
    display: flex;
    justify-content: space-between;
    width: 700px;
    padding: 1em;
    box-sizing: border-box;
    color: #666;
    font-style: italic;
    background-color: #eee;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.post-show-text-container {
    text-align: justify;
    width: 100%;
    padding: 0 1.5em;
    box-sizing: border-box;
}

.post-show-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 1.5em;
    box-sizing: border-box;
}

.post-show-comments-container {
    width: 100%;
}

.show-comment-text {
    padding: 0.1em 1em;
    margin: 1em;
    background-color: #eee;
    text-align: justify;
    border-radius: 5px;
    position: relative;
}

.show-comment-text:nth-child(even) {
    background-color: #cbcccd;
}

.show-comment-text p {
    color: #000;
}

.show-comment-info {
    padding-bottom: 0.5em;
    color: #444;
}

.show-comment-info:hover {
    color: #777;
    transition: all .3s ease-out;
}

.show-tags,
.show-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.show-tags a,
.show-categories a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.tag-show,
.category-show {
    margin-right: .3em;
    font-weight: 500;
}

.tag-show:hover,
.category-show:hover {
    transition: all .3s ease-out;
    color: #ddd;
}

.category-show {
    margin: 0  0 0 .3em;
}

.comment-input-container {
    width: 100%;
    margin-top: 1em;
    padding: 0 1em;
    box-sizing: border-box;
}

#show-comment {
    width: 100%;
    border: 3px solid #bbb;
    border-radius: 10px;
    resize: none;
    box-sizing: border-box;
    outline: none;
    padding: 1em;
}

#show-comment:focus {
    border-color: #666;
}

#show-btn {
    padding: 1em;
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
    border: 3px solid #eee;
    border-radius: 5px;
    margin: 1em 0 0.5em 0;
}

#show-btn:hover {
    transition: all .3s ease-out;
    color: #fff;
    background-color: #ddd;
}

#show-btn:active {
    transition: all .3s ease-out;
    color: #fff;
    background-color: #666;
    border-color: #666;
}

.comment-action-btns {
    position: absolute;
    right: 2em;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 21.15px;
}

.comment-edit-btn,
.comment-delete-btn {
    text-transform: uppercase;
    text-decoration: none;
    font-size: .9rem;
    padding: .5em 1em;
    border-radius: 5px;
    width: 40%;
    text-align: center;
    opacity: 0;
}

.show-comment-text:hover .comment-edit-btn,
.show-comment-text:hover .comment-delete-btn {
    opacity: 1;
    transition: all .3s ease-out;
}

.comment-edit-btn {
    color: #fff;
    border: 2px solid rgb(20, 180, 243);
    background-color: rgb(20, 180, 243);
}

.comment-delete-btn {
    color: #fff;
    border: 2px solid rgb(243, 20, 57);
    background-color: rgb(243, 20, 57);
}

.comment-delete-btn:hover {
    transition: all .2s ease-out;
    color: rgb(241, 85, 111);
    border: 2px solid rgb(241, 85, 111);
}

.comment-edit-btn:hover {
    transition: all .2s ease-out;
    color: rgb(123, 209, 244);
    border: 2px solid rgb(123, 209, 244);
}


/* Posts create styles */

.form-container,
.login-form-container {
    display: flex;
    justify-content: center;
}

.post-create-form,
.login-form {
    max-width: 190px;
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
}

.form-control {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control label {
    font-weight: 500;
    text-transform: uppercase;
    font-size: .8rem;
    margin: .5em 0;
}

.form-control input {
    padding: .5em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-control input:focus {
    outline-color: rgb(20, 180, 243);
}

.form-control select {
    padding: .5em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

.form-control select:focus {
    outline-color: rgb(20, 180, 243);
}

.btn {
    border-radius: 7px;
    color: #fff;
    padding: 0.5em 2em;
    border-color: #bbb;
    outline: none;
    background-color: rgb(20, 180, 243);
    font-weight: bold;
    text-transform: uppercase;
}

.btn:hover {
    background-color: rgb(97, 210, 255);
    transition: all .3s ease-out;
}

.btn:active {
    background-color: rgb(11, 135, 184);
    color: #bbb;
    transition: all .3s ease-out;
}

/* Category index styles */

.category-title-container {
    text-align: center;
    padding: 1em 0;
    position: relative;
}

.new-category-link-container {
    position: absolute;
    height: 17.8px;
    right: 1em;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.categories-container {
    padding: 1em .3em 3em .3em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.category-item {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: rgb(20, 180, 243);
    margin: .3em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-item a {
    text-decoration: none;
    width: 100%;
    color: #fff;
    padding: .5em 1em;
}

.category-item:hover {
    background-color: rgb(97, 210, 255);
    transition: all .3s ease-out;
}

.category-item:active {
    background-color: rgb(11, 135, 184);
    transition: all .3s ease-out;
}

/* Tag index styles */

.tag-title-container {
    text-align: center;
    padding: 1em 0;
    position: relative;
}

.new-tag-link-container {
    position: absolute;
    height: 17.8px;
    right: 1em;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.tags-container {
    padding: 1em .3em 3em .3em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.tag-item {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: rgb(20, 180, 243);
    margin: .3em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag-item a {
    text-decoration: none;
    padding: .5em 1em;
    width: 100%;
    color: #fff;
}

.tag-item:hover {
    background-color: rgb(97, 210, 255);
    transition: all .3s ease-out;
}

.tag-item:active {
    background-color: rgb(11, 135, 184);
    transition: all .3s ease-out;
}

/* Flash Message styles */
.flash-message-container {
    width: 75%;
    margin: 0 auto;
    background-color: #eeeeeeb1;
}

.flash-message {
    width: 100%;
    padding-top: 1em;
}

.flash-message.error p {
    margin: 0 auto;
    padding: 1em;
    color: #842029;
    border: 1px solid #f5c2c7;
    background-color: #f8d7da;
    width: 70%;
    border-radius: 5px;
    font-size: 0.9rem;
}

.flash-message.success p {
    margin: 0 auto;
    padding: 1em;
    color: #0f5132;
    border: 1px solid #d1e7dd;
    background-color: #badbcc;
    width: 70%;
    border-radius: 5px;
    font-size: 0.9rem;
}

/* Users index styles */

.user-index-title-container {
    padding: 1em 0;
    position: relative;
}

.new-post-link-container {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 17.8px;
    right: 2em;
}

.my-posts-container {
    padding: 0 1.5em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.my-post {
    width: 150px;
    height: 150px;
    position: relative;
}

.my-post:hover .my-post-image-container {
    transition: all .6s ease-out;
    filter: blur(2px);
    scale: 1.1;
}

.my-post-image-container {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.my-post-image-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.my-post-actions {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-post-actions a {
    text-decoration: none;
    font-weight: bold;
}

.post-edit-button,
.post-delete-button {
    text-transform: uppercase;
    font-size: .9rem;
    padding: .5em 1em;
    border-radius: 5px;
    width: 40%;
    text-align: center;
    opacity: 0;
}

.my-post:hover .post-edit-button,
.my-post:hover .post-delete-button {
    transition: all .6s ease-out;
    opacity: 1;
}

.post-edit-button {
    color: rgb(20, 180, 243);
    border: 2px solid rgb(20, 180, 243);
    margin-bottom: 1em;
}

.post-delete-button {
    color: rgb(243, 20, 57);
    border: 2px solid rgb(243, 20, 57);
}

.post-delete-button:hover {
    transition: all .2s ease-out;
    color: rgb(241, 85, 111);
    border: 2px solid rgb(241, 85, 111);
}

.post-edit-button:hover {
    transition: all .2s ease-out;
    color: rgb(123, 209, 244);
    border: 2px solid rgb(123, 209, 244);
}

/* Dashboard Styles */
.dashboard-items-container {
    padding: 1em .3em 3em .3em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.dashboard-item {
    border: 1px solid #ddd;
    padding: .5em 1em;
    border-radius: 10px;
    background-color: rgb(20, 180, 243);
    margin: .3em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-item a {
    text-decoration: none;
    color: #fff;
}

.dashboard-item:hover {
    background-color: rgb(97, 210, 255);
    transition: all .3s ease-out;
}

.dashboard-item:active {
    background-color: rgb(11, 135, 184);
    transition: all .3s ease-out;
}

.dashboard-table-container {
    padding-bottom: 5em;
}

#dashboard-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #bbb;
}

#dashboard-table thead,
#dashboard-table tbody tr:nth-child(even) {
    background-color: #cbcccd;
}

#dashboard-table thead th {
    padding: 1em;
}

#dashboard-table tbody td {
    text-align: center;
    padding: 1em;
}

#dashboard-table thead tr:hover,
#dashboard-table tbody tr:hover {
    transition: all .2s ease-out;
    background-color: #ddd;
}

.dashboard-edit-button,
.dashboard-delete-button {
    text-transform: uppercase;
    text-decoration: none;
    font-size: .9rem;
    padding: .5em 1em;
    border-radius: 5px;
    width: 40%;
    text-align: center;
}

.dashboard-edit-button {
    color: #fff;
    border: 2px solid rgb(20, 180, 243);
    background-color: rgb(20, 180, 243);
}

.dashboard-delete-button {
    color: #fff;
    border: 2px solid rgb(243, 20, 57);
    background-color: rgb(243, 20, 57);
}

.dashboard-delete-button:hover {
    transition: all .2s ease-out;
    color: rgb(241, 85, 111);
    border: 2px solid rgb(241, 85, 111);
}

.dashboard-edit-button:hover {
    transition: all .2s ease-out;
    color: rgb(123, 209, 244);
    border: 2px solid rgb(123, 209, 244);
}